/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #228b22; /* Verde Escuro */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

.conteudo {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Estilização das seções */
.materias, .objetivos, .erros {
    background: white;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Títulos */
h2 {
    font-size: 1.5em;
    color: #228b22; /* Verde Escuro */
    margin-bottom: 20px;
}

/* Botões */
.materias ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.materias ul li {
    margin: 5px 0;
}

.materias ul li a {
    display: block;
    text-decoration: none;
    background-color: #228b22; /* Verde Escuro */
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.materias ul li a:hover {
    background-color: #1c6b1c; /* Verde Mais Escuro */
    color: #fff;
}

/* Links */
.erros a {
    display: inline-block;
    text-decoration: none;
    background-color: #ff6347;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 1em;
    transition: background-color 0.5s ease;
}

.erros a:hover {
    background-color: #cc4f37;
}

.search-bar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    width: 300px;
}

.search-bar button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
}